@page
@model gestao_pessoal.Views.testeModel
@{
}

<div class="home-btn d-none d-sm-block">
    <a href="Index.cshtml" class="text-white"><i class="fas fa-home h2"></i></a>
</div>

<!-- Begin page -->
<div class="accountbg"></div>
<div class="wrapper-page account-page-full">

<div class="card">
<div class="card-body">

    <h3 class="text-center">
        <a href="/" class="logo"><img src="~/assets/images/logo-light.png" height="22" alt="logo"></a>
    </h3>

    <div class="p-3">
        <h4 class="font-18 m-b-5 text-center">Registro Grátis</h4>
        <p class="text-muted text-center">Crie sua conta Gestão Pessoal agora.</p>
        @using (Html.BeginForm("Create", "Usuario"))
        { 
            <form class="form-horizontal m-t-30" action="/Usuario/Create" method="POST">
                <input name="__RequestVerificationToken" type="hidden" value="<removed for brevity>" />
                <div class="form-group">
                    <label for="useremail">Email</label>
                    <input type="email" class="form-control" name="useremail" id="useremail" placeholder="Insira seu email">
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Insira seu apelido">
                </div>

                <div class="form-group">
                    <label for="userpassword">Password</label>
                    <input type="password" class="form-control" name="userpassword" id="userpassword" placeholder="Insira sua senha">
                </div>

                <div class="form-group row m-t-20">
                    <div class="col-12 text-right">
                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Registrar</button>
                    </div>
                </div>

                <div class="form-group m-t-10 mb-0 row">
                    <div class="col-12 m-t-20">
                        <p class="mb-0">Registrando você concorda com os <a href="#" class="text-primary">termos de aceite</a></p>
                    </div>
                </div>
            </form>
         }
    </div>

</div>
</div>

</div>
<!-- end wrapper-page -->
<!-- jQuery  -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.slimscroll.js"></script>
<script src="assets/js/waves.min.js"></script>

<!-- App js -->
<script src="assets/js/app.js"></script>

